page-home {
  ion-header .toolbar-background {
    background-color: #007DAD !important;
    }
  ion-title .toolbar-title {
    color: #fff !important;
    }
  ion-content {
    background-color: #C9EAF8 !important;
    }
  ion-input {
    border-bottom: 1px solid #ccc;
    }
  ion-card, ion-item {
    background-color: #fafafa !important;
    }
}
